<div role="main" class="main">
  <section class="page-header mb-0">

  </section>
  <section class="section">
    <div class="container  pb-md-5 mb-lg-5">
      <div class="row justify-content-center pb-4">
        <div class="col-lg-10 text-center">
          <div class="appear-animation" data-appear-animation="fadeInUpShorter">
            <span class="top-sub-title text-color-primary">Leider in staalconstructies</span>
            <h1 class="font-weight-bold">ODS metals</h1>
          </div>
          <p class="lead mb-4 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="200">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit.</p>
          <p class="text-color-light-3 appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque consequat sit amet diam a dignissim. Suspendisse nec suscipit purus, eget tincidunt magna. Suspendisse vulputate venenatis neque, a accumsan leo congue et. Sed in scelerisque nulla, a porttitor neque. Morbi accumsan gravida nisi at ullamcorper. Maecenas pulvinar non nisl ac congue. </p>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-content-pull-top pull-top-level-2 pull-top-always bg-primary">
    <div class="container">
      <div class="row py-5 mb-5 px-3 px-sm-0">
        <div class="col order-1 scale-1 p-0">
          <img src="assets/img/others/work-5.png" class="img-fluid appear-animation" alt="" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="1000" />
        </div>
        <div class="col order-5 scale-1 p-0">
          <img src="assets/img/others/work-4.png" class="img-fluid appear-animation" alt="" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="1000" />
        </div>
        <div class="col order-2 scale-2 p-0">
          <img src="assets/img/others/work-3.png" class="img-fluid appear-animation" alt="" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="800" />
        </div>
        <div class="col order-4 scale-2 z-index-1 p-0">
          <img src="assets/img/others/work-2.png" class="img-fluid appear-animation" alt="" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="800" />
        </div>
        <div class="col order-3 scale-3 z-index-2 p-0">
          <img src="assets/img/others/work-1.png" class="img-fluid appear-animation" alt="" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="600" />
        </div>
      </div>
      <div class="spacer pt-sm-1 pt-md-4 pt-lg-5"></div>
      <div class="row align-items-baseline mt-5">
        <div class="col-lg-4">
          <div class="icon-box appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="300">
            <div class="icon-box-icon pr-3">
              <img width="42" src="vendor/linear-icons/screen.svg" alt="" data-icon data-plugin-options="{'color': '#FFF', 'animated': true, 'delay': 600}" />
            </div>
            <div class="icon-box-info">
              <span class="top-sub-title text-color-light opacity-6">LOREM IPSUM DOLOR SIT</span>
              <h2 class="font-weight-bold text-color-light text-4 mb-3">Exclusive Designs</h2>
              <p class="text-color-light opacity-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="icon-box appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="300">
            <div class="icon-box-icon pr-3">
              <img width="42" src="vendor/linear-icons/select.svg" alt="" data-icon data-plugin-options="{'color': '#FFF', 'animated': true, 'delay': 900}" />
            </div>
            <div class="icon-box-info">
              <span class="top-sub-title text-color-light opacity-6">LOREM IPSUM DOLOR SIT</span>
              <h2 class="font-weight-bold text-color-light text-4 mb-3">Amazing Features</h2>
              <p class="text-color-light opacity-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="icon-box appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="300">
            <div class="icon-box-icon pr-3">
              <img width="42" src="vendor/linear-icons/code.svg" alt="" data-icon data-plugin-options="{'color': '#FFF', 'animated': true, 'delay': 1200}" />
            </div>
            <div class="icon-box-info">
              <span class="top-sub-title text-color-light opacity-6">LOREM IPSUM DOLOR SIT</span>
              <h2 class="font-weight-bold text-color-light text-4 mb-3">Clean Source Code</h2>
              <p class="text-color-light opacity-6">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row text-center pb-2 mb-4">
        <div class="col">
          <div class="overflow-hidden">
          </div>
          <div class="overflow-hidden">
            <h2 class="font-weight-bold appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Onze merken</h2>
          </div>
        </div>
      </div>
      <div class="row appear-animation" data-appear-animation="fadeInUpShorter" data-appear-animation-delay="400">
        <div class="col">
          <div class="owl-carousel owl-theme dots-style-1 nav-style-3" data-plugin-options="{'responsive': {'0': {'items': 1}, '576': {'items': 1}, '768': {'items': 3}, '979': {'items': 4}, '1199': {'items': 4}}, 'dots': true, 'nav': false, 'loop': false, 'navtext': [], 'margin': 30}">
            <div>
              <div class="text-center mb-2">
                <div class="image-frame image-frame-style-1 image-frame-effect-1 mb-4">
                  <span class="image-frame-wrapper">
                    <img src="http://via.placeholder.com/150x150" class="img-fluid" alt="">
                    <span class="image-frame-inner-border"></span>
                    <span class="image-frame-action image-frame-action-effect-1 image-frame-action-sm">
                      <a href="ajax/team-member-detail.html" class="simple-ajax-popup">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-magnifier text-color-light"></i>
                        </span>
                      </a>
                      <a href="about-me.html">
                        <span class="image-frame-action-icon">
                          <i class="lnr lnr-link text-color-light"></i>
                        </span>
                      </a>
                    </span>
                  </span>
                </div>
                <h3 class="font-weight-bold text-4 mb-0">ARTE</h3>
              </div>
            </div>
            <div>
                <div class="text-center mb-2">
                  <div class="image-frame image-frame-style-1 image-frame-effect-1 mb-4">
                    <span class="image-frame-wrapper">
                      <img src="http://via.placeholder.com/150x150" class="img-fluid" alt="">
                      <span class="image-frame-inner-border"></span>
                      <span class="image-frame-action image-frame-action-effect-1 image-frame-action-sm">
                        <a href="ajax/team-member-detail.html" class="simple-ajax-popup">
                          <span class="image-frame-action-icon">
                            <i class="lnr lnr-magnifier text-color-light"></i>
                          </span>
                        </a>
                        <a href="about-me.html">
                          <span class="image-frame-action-icon">
                            <i class="lnr lnr-link text-color-light"></i>
                          </span>
                        </a>
                      </span>
                    </span>
                  </div>
                  <h3 class="font-weight-bold text-4 mb-0">ARTE2</h3>
                </div>
              </div>
              <div>
                  <div class="text-center mb-2">
                    <div class="image-frame image-frame-style-1 image-frame-effect-1 mb-4">
                      <span class="image-frame-wrapper">
                        <img src="http://via.placeholder.com/150x150" class="img-fluid" alt="">
                        <span class="image-frame-inner-border"></span>
                        <span class="image-frame-action image-frame-action-effect-1 image-frame-action-sm">
                          <a href="ajax/team-member-detail.html" class="simple-ajax-popup">
                            <span class="image-frame-action-icon">
                              <i class="lnr lnr-magnifier text-color-light"></i>
                            </span>
                          </a>
                          <a href="about-me.html">
                            <span class="image-frame-action-icon">
                              <i class="lnr lnr-link text-color-light"></i>
                            </span>
                          </a>
                        </span>
                      </span>
                    </div>
                    <h3 class="font-weight-bold text-4 mb-0">ARTE3</h3>
                  </div>
                </div>
                <div>
                    <div class="text-center mb-2">
                      <div class="image-frame image-frame-style-1 image-frame-effect-1 mb-4">
                        <span class="image-frame-wrapper">
                          <img src="http://via.placeholder.com/150x150" class="img-fluid" alt="">
                          <span class="image-frame-inner-border"></span>
                          <span class="image-frame-action image-frame-action-effect-1 image-frame-action-sm">
                            <a href="ajax/team-member-detail.html" class="simple-ajax-popup">
                              <span class="image-frame-action-icon">
                                <i class="lnr lnr-magnifier text-color-light"></i>
                              </span>
                            </a>
                            <a href="about-me.html">
                              <span class="image-frame-action-icon">
                                <i class="lnr lnr-link text-color-light"></i>
                              </span>
                            </a>
                          </span>
                        </span>
                      </div>
                      <h3 class="font-weight-bold text-4 mb-0">ARTE4</h3>
                    </div>
                  </div>

          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section section-background section-height-5 overlay overlay-show call-to-action appear-animation" data-appear-animation="fadeIn" data-plugin-image-background data-plugin-options="{'imageUrl': 'img/parallax/parallax-6.jpg'}">
    <div class="container">
      <div class="row">
        <div class="col-12 justify-content-center mb-3">
          <div class="call-to-action-content text-center appear-animation" data-appear-animation="fadeInLeftShorter">
            <h2 class="font-weight-semibold text-color-light">Contacteer ons vandaag</h2>
            <p class="font-weight-light text-color-light mb-0">Wij helpen u zo snel mogelijk verder</p>
          </div>
        </div>
        <div class="col-12 justify-content-center">
          <div class="call-to-action-btn text-center mt-3 appear-animation" data-appear-animation="fadeInRightShorter">
            <a href="/contact" target="_blank" class="btn btn-light btn-rounded btn-3 btn-icon-effect-1 font-weight-bold btn-h-5 btn-v-4">
              <span class="wrap">
                <span>Contact</span>
              </span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section">
    <div class="container">
      <div class="row appear-animation" data-appear-animation="fadeInRightShorter">
        <div class="col-md-4 mb-4 mb-md-0">
          <h2 class="font-weight-bold text-4 mb-3">Who We Are</h2>
          <p>Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. </p>
        </div>
        <div class="col-md-4 mb-4 mb-md-0">
          <h2 class="font-weight-bold text-4 mb-3">What We Do</h2>
          <p>Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. </p>
        </div>
        <div class="col-md-4">
          <h2 class="font-weight-bold text-4 mb-3">Creative Process</h2>
          <p>Phasellus blandit massa enim. Nullam id varius nunc. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus blandit massa enim. Nullam id varius nunc. </p>
        </div>
      </div>
      <hr class="border-dark opacity-1 my-5">
      <div class="row justify-content-center align-items-center pt-4 appear-animation" data-appear-animation="fadeInLeftShorter">
        <div class="col-4 col-md-1-5 text-center text-md-left">
          <img src="img/logos/logo-7.png" width="170" alt="" class="img-fluid opacity-3">
        </div>
        <div class="col-4 col-md-1-5 text-center">
          <img src="img/logos/logo-8.png" width="80" alt="" class="img-fluid opacity-3">
        </div>
        <div class="col-4 col-md-1-5 text-center">
          <img src="img/logos/logo-24.png" width="100" alt="" class="img-fluid opacity-3">
        </div>
        <div class="col-4 col-md-1-5 text-center text-md-right mt-5 mt-md-0">
          <img src="img/logos/logo-10.png" width="140" alt="" class="img-fluid opacity-3">
        </div>
        <div class="col-4 col-md-1-5 text-center text-md-right mt-5 mt-md-0">
          <img src="img/logos/logo-11.png" width="100" alt="" class="img-fluid opacity-3">
        </div>
      </div>
    </div>
  </section>
</div>
