<div role="main" class="main">
 <section class="page-header py-3">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-md-8 text-left">
        </div>
        <div class="col-md-4">
          <ul class="breadcrumb justify-content-start justify-content-md-end mb-0">

          </ul>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <div class="row">
      <aside class="sidebar col-md-4 col-lg-3 order-2">
        <div class="accordion accordion-default accordion-toggle accordion-style-1" role="tablist">

          <div class="card">
            <div class="card-header accordion-header" role="tab" id="pages">
              <h3 class="text-3 mb-0">
                <a href="#Algemeen" data-toggle="collapse" data-target="#togglePages" aria-expanded="false" aria-controls="togglePages">Vragen</a>
              </h3>
            </div>
            <div id="togglePages" class="accordion-body collapse show" aria-labelledby="pages">
              <div class="card-body">
                <ul class="list list-unstyled">
                  <li class="mb-2">
                    <a href="faq#Algemeen" class="font-weight-semibold"><i class="fas fa-angle-right ml-1 mr-1 pr-2"></i> Algemeen</a>
                  </li>
                  <li class="mb-2">
                    <a href="faq#Algemeen" class="font-weight-semibold text-color-primary"><i class="fas fa-angle-right ml-1 mr-1 pr-2" id="photos" role="list" data-toggle="collapse" data-target="#submenuPhotos" aria-expanded="true" aria-controls="submenuPhotos" onclick="return false;"></i> Layouts</a>
                    <ul class="list list-unstyled mt-2 collapse show" id="submenuPhotos" aria-labelledby="photos">
                      <li>
                        <a href="page-layout-full-width.html">Vraag 1</a>
                      </li>
                      <li>
                        <a href="page-layout-left-sidebar.html">Vraag 2</a>
                      </li>
                      <li>
                        <a href="page-layout-right-sidebar.html">Vraag 3</a>
                      </li>
                    </ul>
                  </li>

                </ul>
              </div>
            </div>
          </div>

        </div>
      </aside>
      <div class="col-md-8 col-lg-9 order-1 mb-5 mb-md-0">
        <div class="row">
          <div class="col">
            <div id="toggleDefault" class="accordion accordion-minimal accordion-toggle" role="tablist">

              <div class="card">
                <div class="card-header accordion-header" role="tab" id="Algemeen">
                  <h5 class="mb-0">
                    <a href="#" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq1" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq1">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq1" class="collapse show" role="tabpanel" aria-labelledby="toggleMinimalFaq1">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header accordion-header" role="tab" id="toggleMinimalFaq2">
                  <h5 class="mb-0">
                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq2" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq2">Lorem ipsum dolor sit amet, consectetur adipiscing.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq2" class="collapse" role="tabpanel" aria-labelledby="toggleMinimalFaq2">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header accordion-header" role="tab" id="toggleMinimalFaq3">
                  <h5 class="mb-0">
                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq3" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq3">Ipsum dolor sit amet, consectetur adipiscing elit.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq3" class="collapse" role="tabpanel" aria-labelledby="toggleMinimalFaq3">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header accordion-header" role="tab" id="toggleMinimalFaq4">
                  <h5 class="mb-0">
                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq4" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq4">Lorem ipsum sit amet, consectetur adipiscing elit.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq4" class="collapse" role="tabpanel" aria-labelledby="toggleMinimalFaq4">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header accordion-header" role="tab" id="toggleMinimalFaq5">
                  <h5 class="mb-0">
                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq5" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq5">Lorem ipsum dolor sit amet, adipiscing elit.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq5" class="collapse" role="tabpanel" aria-labelledby="toggleMinimalFaq5">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>
              <div class="card">
                <div class="card-header accordion-header" role="tab" id="toggleMinimalFaq6">
                  <h5 class="mb-0">
                    <a href="#" class="collapsed" data-toggle="collapse" data-target="#toggleMinimalCollapseFaq6" aria-expanded="false" aria-controls="toggleMinimalCollapseFaq6">Lorem ipsum dolor sit, consectetur adipiscing elit.</a>
                  </h5>
                </div>
                <div id="toggleMinimalCollapseFaq6" class="collapse" role="tabpanel" aria-labelledby="toggleMinimalFaq6">
                  <div class="card-body">
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur malesuada malesuada metus ut placerat. Cras a porttitor quam, eget ornare sapien. In sit amet vulputate metus. Nullam eget rutrum nisl. Sed tincidunt lorem sed maximus interdum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Aenean scelerisque efficitur mauris nec tincidunt. Ut cursus leo mi, eu ultricies magna faucibus id.
                    </p>
                  </div>
                </div>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
