<footer id="footer" class="bg-light mt-0">
  <div class="container">
    <div class="row text-center">
      <div class="col">
        <div class="overflow-hidden">
          <span class="top-sub-title text-color-primary d-block appear-animation" data-appear-animation="maskUp">LOREM IPSUM DOLOR SIT</span>
        </div>
        <div class="overflow-hidden">
          <h2 class="font-weight-bold text-color-dark appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="200">Get in Touch With Us</h2>
        </div>
        <div class="overflow-hidden mb-3">
          <p class="lead mb-0 appear-animation" data-appear-animation="maskUp" data-appear-animation-delay="300">If you have any further questions or queries please do not hesitate to get in touch.</p>
        </div>
      </div>
    </div>
    <div class="row pt-5 pb-4">
      <div class="col-12 col-md-4">
        <div class="icon-box icon-box-style-1 appear-animation" data-appear-animation="fadeInLeftShorter" data-appear-animation-delay="200">
          <div class="icon-box-icon">
            <i class="lnr lnr-apartment text-color-primary"></i>
          </div>
          <div class="icon-box-info mt-1">
            <div class="icon-box-info-title">
              <h3 class="font-weight-bold text-color-dark text-4 mb-0">Address</h3>
            </div>
            <p>1234 Street Name, City Name, USA</p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="icon-box icon-box-style-1 pl-md-3 pl-lg-5 appear-animation" data-appear-animation="fadeInUpShorter">
          <div class="icon-box-icon icon-box-icon-no-top">
            <i class="lnr lnr-envelope text-color-primary"></i>
          </div>
          <div class="icon-box-info mt-1">
            <div class="icon-box-info-title">
              <h3 class="font-weight-bold text-color-dark text-4 mb-0">Email Address</h3>
            </div>
            <p><a href="mailto:you@domain.com">you@domain.com</a></p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-4">
        <div class="icon-box icon-box-style-1 appear-animation" data-appear-animation="fadeInRightShorter" data-appear-animation-delay="200">
          <div class="icon-box-icon">
            <i class="lnr lnr-phone-handset text-color-primary"></i>
          </div>
          <div class="icon-box-info mt-1">
            <div class="icon-box-info-title">
              <h3 class="font-weight-bold text-color-dark text-4 mb-0">Phone Number</h3>
            </div>
            <p><a href="tel:+1234567890">(123) 456-7890</a> - <a href="tel:+1234567890">(123) 456-7890</a></p>
          </div>
        </div>
      </div>
    </div>
    <hr class="my-5">
  </div>
  <div class="footer-copyright bg-light mt-0 mb-5 pb-5">					<div class="container">						<div class="row align-items-center justify-content-md-center">							<div class="col-12 col-lg-4 text-center text-lg-right order-3 order-lg-1">								<p class="mb-0">Copyrights © 2018 All Rights Reserved by Okler</p>							</div>							<div class="col-12 col-lg-2 text-center order-1 order-lg-2">								<a href="index.html"><img src="img/logo-small.png" width="78" height="70" alt="EZY Theme" class="img-fluid" /></a>							</div>								<div class="col-12 col-lg-4 text-center text-lg-left order-2 order-lg-3 mb-2 mb-lg-0">									<a href="#" class="link-underline-dark mr-3">Privacy Policy</a>								<a href="#" class="link-underline-dark">Terms of Use</a>							</div>						</div>					</div>				</div>
</footer>
