<header id="header" class="header-effect-reveal header-transparent" data-plugin-options="{'stickyEnabled': true, 'stickyEnableOnBoxed': true, 'stickyEnableOnMobile': true, 'stickyStartAt': 170, 'stickySetTop': '0px'}">
  <div class="header-body">
    <div class="header-container container">
      <div class="header-row">
        <div class="header-column justify-content-start">
          <div class="header-logo">
            <a href="index.html">
              <img alt="EZ"  src="assets/img/logo-simple.png">
            </a>
          </div>
        </div>
        <div class="header-column justify-content-end">
          <div class="header-nav">
            <div class="header-nav-main header-nav-main-dark header-nav-main-effect-1 header-nav-main-sub-effect-1">
              <nav class="collapse">
                <ul class="nav flex-column flex-lg-row" id="mainNav">


                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href='/'>
                      Home
                    </a>

                  </li>    <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href='/over-ons'>
                      Over ODS
                    </a>

                  </li>    <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href='/contact'>
                      Contact
                    </a>

                  </li>
                  <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href='/faq'>
                      Veel gestelde vragen
                    </a>
                  </li>
                    <li class="dropdown">
                    <a class="dropdown-item dropdown-toggle" href='/oogstkaart'>
                      Oogstkaart
                    </a>

                  </li>


                </ul>
              </nav>
            </div>
            <span class="header-action font-primary align-items-center d-none d-sm-flex d-lg-none d-xl-flex order-lg-2">
              <i class="fas fa-phone text-color-primary text-3 mr-2"></i>
              <a href="tel:+322868760">+32 2 868 760 </a>
            </span>
            <button class="header-btn-collapse-nav ml-3" data-toggle="collapse" data-target=".header-nav-main nav">
              <span class="hamburguer">
                <span></span>
                <span></span>
                <span></span>
              </span>
              <span class="close">
                <span></span>
                <span></span>
              </span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
